@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

body {
  background-color: var(--bg-color, #fff); /* fallback kleur */
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
}

.love-counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 800px) {
    .love-counter {
        width: 100%;
        flex-direction: column;
    }
}

.love-counter .flex-child {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  text-align: center;
  border-radius: 20px;
  width: 120px;
}

@media (max-width: 800px) {
    .love-counter .flex-child {
        width: 200px;
        padding: 5px;
        margin: 5px;
    }
}

.date-indicator {
    font-weight: 700;
}

.date-counter-item {
    font-size: 20px;
}
